body {
  background-color: #EDF0F2;
}
.container {
  background-color:#EDF0F2;
  margin: 0 auto;
  max-width: 1737px;
  width: 90%;
 }
 header {
   width: 98%;
   margin: 0 auto;
 }
 .logo {
   max-width: 223.59px;
   width: 100%;
 }
 .logo img {
   width: 100%;
 }
 .main-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
 }
.main-nav {
  max-width: 747px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 nav {
   max-width: 438px;
   width: 100%;
 }
 .navigation {
  display: flex;
  justify-content: space-between;
}
 li {
   color: #000;
   font-size: 17px;
   font-weight: 600;
   text-transform: uppercase;
   font-family: 'Teko', sans-serif;;
 }
 .divider {
   background-color: black;
   height: 37px;
   width: 1px;
 }
 span {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;;
 }
 .survive {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .main-title {
   max-width: 377px;
   width: 100%;
   display: flex;
   justify-content: left;
   align-items: flex-start;
 }
 h4 {
  color: #000;
  font-size: 55px;
  font-weight: 600;
  text-transform: inherit;
  font-family: 'Teko', sans-serif;;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  vertical-align: top;
  margin-left: 23px;
 }
 .title {
  color: #E4003B;
  font-size: 176px;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  line-height: 75%;
  vertical-align: middle;
  margin-left: 40px;
 }
 .mountain {
   max-width: 1174px;
   width: 100%;
   position: relative;
 }
 .mountain img {
   width: 100%;
 }
 .btn-absolute {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 66px;
   display: flex;
   flex-direction: column;
 }
 .date:nth-child(1) {
   font-size: 60px;
   font-weight: bold;
   font-family: 'Teko', sans-serif;
   text-align: end;
 }
 .red-line {
   background-color: #E4003B;
   width: 70px;
   height: 1px;
   margin: 20px 0 38px;
 }
 .date:nth-child(n+2) {
  text-align: end;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  margin-bottom: 36px;
 }
 .text {
  font-size: 14px;
  font-weight: 600;
  font-family: 'TT Lakes', sans-serif;
  color: #000;
  max-width: 206px;
  width: 100%;
  float: right;
  line-height: 154%;
 }
 .logos {
   width: 19px;
   height: 116px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 30px;
   margin-top: 100px;
 }
.logos-text {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 60px;
  font-family: 'Teko', sans-serif;
  color: black;
  font-weight: 600;
}
.main-left {
  max-width: 1006px;
  width: 100%;
}
.challanges {
  margin-top: 99px;
  display: flex;

}
.main-left-sub {
  max-width: 1006px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
}
.right-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-left h3 {
  margin-bottom: 33px;
}
.photos {
  max-width: 508px;
  width: 100%;
  margin-right: 39px;
}
.left-sec-image {
  width: 100%;
}
.skills {
  text-transform: uppercase;
  color: #E4003B;
  font-size: 17px;
  font-family: 'Teko', sans-serif;
  margin-top: 50px;
}
.right-div h5 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  color: black;
  font-weight: 400;
}
.find {
  display: flex;
  align-items: center;
}
.find::before {
  content: url(/images/x.svg);
  display: flex;
  justify-content:center;
  align-items: center;
}
.right-div span {
  font-family: 'Teko', sans-serif;
  font-size: 17px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}
.left-sub-text {
  font-size: 14px;
  font-family: 'TT Lakes', sans-serif;
  text-transform: capitalize;
}



.main-right {
  max-width: 643px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

}
.endur {
  max-width: 495px;
  margin: 0 auto;
  
  /* text-align: center; */
  position: relative;
}

.endur h2 {
  color: white;
  font-size: 174px;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-weight: 600;

}
.shoes {
  position: absolute;
  max-width: 643px;
  width: 100%;
  top: 180px;
}
.mission-div {
  max-height: 200px;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 100px 0 100px;
}
.mission {
  font-size: 60px;
  font-weight: 600;
  font-family: 'Teko', sans-serif;
  text-transform: capitalize;
  display: flex;
  justify-content: left;
}
.text-bold {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Teko', sans-serif;
  display: flex;
  justify-content: left;

}
.norm {
  font-size: 14px;
  font-family: 'TT Lakes', sans-serif;
  color: #000;
  display: flex;
  justify-content: left;
  

}